@model TeamBoss.GAC.Vitality.AspCore.ViewModels.FoodViewModels.CalorieCounterViewModel

@{
    ViewData["Title"] = "CalorieCounter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Css{
    <link rel="stylesheet" href="~/css/voedingssysteem.css" />
}

@section Scripts{
    <script src="~/js/voedingssysteem.js" asp-append-version="true"></script>
}

<!-- Modal used to warn the user when they wish to remove a recipe -->
<div class="modal pop-up-modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Weet u zeker dat u dit recept wilt verwijderen uit de calorienteller?</p>

        <div class="btn-group">
            <button class="btn btn-success">Yes</button>
            <button class="btn btn-danger">No</button>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="heading-wrapper">
            <div class="container text-wrapper">
                <h1>4000 Kcal</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies suscipit feugiat. Sed vehicula mauris sit amet semper accumsan.</p>

                <div class="input-group col-xs-12 col-md-4 input-field">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-header"></span></span>
                    <input class="form-control" type="text" maxlength="40" placeholder="Titel" id="recept-name-input" required />
                </div>
                <div class="input-group col-xs-12 col-md-4 input-field">
                    <span class="input-group-addon"><span class="fa fa-fire"></span></span>
                    <input class="form-control" type="number" maxlength="40" placeholder="Calorien" id="recept-name-input" min="0" required />
                </div>
            </div>
            <div class="col-md-4 text-center">
                <a class="btn btn-info buttonrecept">Recept toevoegen</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="heading-wrapper">
            <div class="container text-wrapper">
                <ul class="list-group" id="challenge-listing">

                    @foreach (var recipe in Model.recipes)
                    {
                        <!-- Item Pizza Hawaii -->
                        <li class="list-group-item feedyo clearfix">

                            <!-- Link covering the entire list-group-item -->
                            <a class="list-item-link" href="~/Food/ViewRecept"></a>

                            <!-- trash -->
                            <div class="pull-right trash-icon modal-button">
                                <span class="fa fa-trash-alt"></span>
                            </div>

                            <p1>@recipe.Name</p1>

                            <!-- Container containing the recipe data icons -->
                            <div class="feed-info-container">
                                <div class="calories-feed feed-info">
                                    <span class="fa fa-fire feed-icon"></span>
                                    <p>@recipe.TotalCalories</p>
                                </div>
                                <div class="preptime-feed feed-info">
                                    <span class="fa fa-clock feed-icon"></span>
                                    <p>@recipe.PreperationTime min</p>
                                </div>
                                <div class="favourites-feed feed-info">
                                    <span class="fa fa-users feed-icon"></span>
                                    <p>@recipe.ServingsCount</p>
                                </div>
                            </div>

                            <!-- Container containing the image -->
                            <div class="image-container">
                                <div class="image-feed">
                                    <img class="img-center" src=@recipe.ImageLinks[0] />
                                </div>
                            </div>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</div>

