
@{
    ViewData["Title"] = "CreateRecept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link rel="stylesheet" href="~/css/voedingssysteem.css" />
}

@section Scripts{
    <script src="~/js/voedingssysteem.js" asp-append-version="true"></script>
}

<div class="container row">
    <div class="form-group block-wrapper col-xs-12 col-md-4">
        <div id="recept-name-field" class="row section-wrapper">
            <div class="input-group col-xs-12 col-md-4">
                <span class="input-group-addon"><span class="glyphicon glyphicon-header"></span></span>
                <input class="form-control" type="text" maxlength="40" placeholder="Naam" id="recept-name-input" required />
            </div>
        </div>

        <div id="recept-summary-field" class="row section-wrapper">
            <div class="input-group col-xs-12 col-md-4">
                <textarea class="form-control" rows="2" maxlength="100" placeholder="Beschrijving" id="recept-summary-input" required></textarea>
            </div>
        </div>

        <div class="text-wrapper filterbox-create">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary ignore-focus filterbox-btn" id="food-search-filters-toggle">
                        Allergiën <span class="animated-transition" id="food-search-filters-caret"><span class="caret"></span></span>
                    </button>
                </div>
            </div>
            <div class="container-fluid" id="food-search-filters-div" hidden>
                <div class="input-group filterbox-input-group">
                    <p class="filterbox-checkbox"><input type="checkbox" />Dairy</p>
                    <p class="filterbox-checkbox"><input type="checkbox" />Egg</p>
                    <p class="filterbox-checkbox"><input type="checkbox" />Nuts</p>
                </div>
                <hr />
            </div>
        </div>

        <div id="recept-ingredients-field" class="row section-wrapper">
            <div class="input-group col-xs-12 col-md-4">
                <textarea class="form-control" rows="10" maxlength="100" placeholder="Ingredienten" id="recept-ingredients-input" required></textarea>
            </div>
        </div>

        <div id="recept-preparation-field" class="row section-wrapper">
            <div class="input-group col-xs-12 col-md-4">
                <textarea class="form-control" rows="10" maxlength="100" placeholder="Bereiding" id="recept-preparation-input" required></textarea>
            </div>
        </div>

        <div id="recept-preparation-time-field" class="row section-wrapper">
            <div class="input-group col-xs-12 col-md-4">
                <span class="input-group-addon"><span class="fa fa-clock"></span></span>
                <input class="form-control" type="number" maxlength="40" placeholder="Bereidings Tijd (Minuten)" id="recept-preparation-time-input" required />
            </div>
        </div>

        <div id="recept-calories-field" class="row section-wrapper">
            <div class="input-group col-xs-12 col-md-4">
                <span class="input-group-addon"><span class="glyphicon glyphicon-cutlery"></span></span>
                <input class="form-control" type="number" maxlength="40" placeholder="Caloriëen" id="recept-calories-input" required />
            </div>
        </div>

        <div class="input-group section-wrapper row">
            <label class="input-group-btn">
                <span class="btn btn-primary btn-browse">
                    Browse <input type="file" style="display: none;" accept="image/*" multiple>
                </span>
            </label>
            <input type="text" class="form-control" readonly>
        </div>

        <div id="recept-submit" class="row submit-section">
            <button class="btn btn-primary" type="button" id="recept-submit-button">Challenge Aanmaken</button>
        </div>
    </div>
</div>






