
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link rel="stylesheet" href="~/css/voedingssysteem.css" />
}

@section Scripts{
    <script src="~/js/voedingssysteem.js" asp-append-version="true"></script>
}

<div class="container-fluid">
    <div class="row">
        <div class="heading-wrapper">
            <div class="container text-wrapper">
                <h1>Mijn recepten</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="col-md-4 text-center">
                <a class="btn btn-info buttonrecept" asp-area="" asp-controller="Food" asp-action="CreateRecept">Maak een recept</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="heading-wrapper">
            <div class="container text-wrapper">
                <div class="list-group listyo3" id="challenge-listing">
                    <a href="#food-list-item-1" class="list-group-item clearfix" name="food-list-item-1">
                        Pizza
                        <span class="pull-right">
                            <button class="btn btn-danger remove"><span class="fa fa-trash-alt"></span></button>
                            <button class="btn btn-info edit"><span class="glyphicon glyphicon-pencil"></span></button>
                        </span>
                    </a>

                    <a href="#food-list-item-2" class="list-group-item clearfix" name="food-list-item-2">
                        Pasta
                        <span class="pull-right">
                            <button class="btn btn-danger remove"><span class="fa fa-trash-alt"></span></button>
                            <button class="btn btn-info edit"><span class="glyphicon glyphicon-pencil"></span></button>
                        </span>
                    </a>

                    <a href="#food-list-item-3" class="list-group-item clearfix" name="food-list-item-3">
                        Biefstuk
                        <span class="pull-right">
                            <button class="btn btn-danger remove"><span class="fa fa-trash-alt"></span></button>
                            <button class="btn btn-info edit"><span class="glyphicon glyphicon-pencil"></span></button>
                        </span>
                    </a>

                    <a href="#food-list-item-4" class="list-group-item clearfix" name="food-list-item-4">
                        Ovenschotel
                        <span class="pull-right">
                            <button class="btn btn-danger remove"><span class="fa fa-trash-alt"></span></button>
                            <button class="btn btn-info edit"><span class="glyphicon glyphicon-pencil"></span></button>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

