
@{
    ViewData["Title"] = "Opgeslagen Recepten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link rel="stylesheet" href="~/css/voedingssysteem.css" />
}

    <div class="container-fluid jojo">
        <div class="row">
            <div class="challenge-wrapper navbar-food">
                <div class="container text-wrapper filterbox">
                    <div class="form-group">
                        <input type="text" class="form-control searchrecept" placeholder="Recept naam" />

                        <select class="form-control selectfilter" multiple>
                            <option value="" disabled selected>Allergenen</option>
                            <option class="optionprivacy">Melk</option>
                            <option class="optionprivacy">Ei</option>
                            <option class="optionprivacy">Vis</option>
                            <option class="optionprivacy">Pinda</option>
                            <option class="optionprivacy">Noten</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="challenge-wrapper move-below">
                <div class="container text-wrapper">
                    <div class="list-group listfood" id="">

                        <a href="#" class="list-group-item clearfix">
                            Spaghetti Carbonara
                            <span class="pull-right">
                                <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            Lamsbout
                            <span class="pull-right">
                                <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            Pizza
                            <span class="pull-right">
                                <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            Patatas Bravas
                            <span class="pull-right">
                                <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            Franse Kip
                            <span class="pull-right">
                                <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            Truffelburger
                            <span class="pull-right">
                                <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                            </span>
                        </a>

                        <a href="#" class="list-group-item clearfix">
                            Spaghetti Carbonara
                            <span class="pull-right">
                                <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            Lamsbout
                            <span class="pull-right">
                                <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            Pizza
                            <span class="pull-right">
                                <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            Patatas Bravas
                            <span class="pull-right">
                                <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            Franse Kip
                            <span class="pull-right">
                                <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            Truffelburger
                            <span class="pull-right">
                                <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                            </span>
                        </a>

                        <a href="#" class="list-group-item clearfix">
                            Spaghetti Carbonara
                            <span class="pull-right">
                                <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            Lamsbout
                            <span class="pull-right">
                                <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            Pizza
                            <span class="pull-right">
                                <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            Patatas Bravas
                            <span class="pull-right">
                                <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            Franse Kip
                            <span class="pull-right">
                                <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                            </span>
                        </a>
                        <a href="#" class="list-group-item clearfix">
                            Truffelburger
                            <span class="pull-right">
                                <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>