
@{
    ViewData["Title"] = "Opgeslagen Recepten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link rel="stylesheet" href="~/css/voedingssysteem.css" />
}

@section Scripts{
    <script src="~/js/voedingssysteem.js" asp-append-version="true"></script>
}

<div class="container-fluid jojo">
    <div class="row">
        <div class="challenge-wrapper navbar-food">
            <div class="container text-wrapper filterbox">
                <div class="form-group">
                    <input type="text" class="form-control searchrecept" placeholder="Recept naam" />

                    <select class="form-control selectfilter" multiple>
                        <option value="" disabled selected>Allergenen</option>
                        <option class="optionprivacy">Melk</option>
                        <option class="optionprivacy">Ei</option>
                        <option class="optionprivacy">Vis</option>
                        <option class="optionprivacy">Pinda</option>
                        <option class="optionprivacy">Noten</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="challenge-wrapper move-below">
            <div class="container text-wrapper">
                <div class="list-group listfood" id="">

                    <a href="#food-list-item-1" class="list-group-item clearfix" name="food-list-item-1">
                        Spaghetti Carbonara
                        <span class="pull-right">
                            <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                        </span>
                    </a>
                    <a href="#food-list-item-2" class="list-group-item clearfix" name="food-list-item-2">
                        Lamsbout
                        <span class="pull-right">
                            <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                        </span>
                    </a>
                    <a href="#food-list-item-3" class="list-group-item clearfix" name="food-list-item-3">
                        Pizza
                        <span class="pull-right">
                            <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                        </span>
                    </a>
                    <a href="#food-list-item-4" class="list-group-item clearfix" name="food-list-item-4">
                        Patatas Bravas
                        <span class="pull-right">
                            <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                        </span>
                    </a>
                    <a href="#food-list-item-5" class="list-group-item clearfix" name="food-list-item-5">
                        Franse Kip
                        <span class="pull-right">
                            <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                        </span>
                    </a>
                    <a href="#food-list-item-6" class="list-group-item clearfix" name="food-list-item-6">
                        Truffelburger
                        <span class="pull-right">
                            <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                        </span>
                    </a>

                    <a href="#food-list-item-7" class="list-group-item clearfix" name="food-list-item-7">
                        Spaghetti Carbonara
                        <span class="pull-right">
                            <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                        </span>
                    </a>
                    <a href="#food-list-item-8" class="list-group-item clearfix" name="food-list-item-8">
                        Lamsbout
                        <span class="pull-right">
                            <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                        </span>
                    </a>
                    <a href="#food-list-item-9" class="list-group-item clearfix" name="food-list-item-9">
                        Pizza
                        <span class="pull-right">
                            <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                        </span>
                    </a>
                    <a href="#food-list-item-10" class="list-group-item clearfix" name="food-list-item-10">
                        Patatas Bravas
                        <span class="pull-right">
                            <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                        </span>
                    </a>
                    <a href="#food-list-item-11" class="list-group-item clearfix" name="food-list-item-11">
                        Franse Kip
                        <span class="pull-right">
                            <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                        </span>
                    </a>
                    <a href="#food-list-item-12" class="list-group-item clearfix" name="food-list-item-12">
                        Truffelburger
                        <span class="pull-right">
                            <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                        </span>
                    </a>

                    <a href="#food-list-item-13" class="list-group-item clearfix" name="food-list-item-13">
                        Spaghetti Carbonara
                        <span class="pull-right">
                            <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                        </span>
                    </a>
                    <a href="#food-list-item-14" class="list-group-item clearfix" name="food-list-item-14">
                        Lamsbout
                        <span class="pull-right">
                            <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                        </span>
                    </a>
                    <a href="#food-list-item-15" class="list-group-item clearfix" name="food-list-item-15">
                        Pizza
                        <span class="pull-right">
                            <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                        </span>
                    </a>
                    <a href="#food-list-item-16" class="list-group-item clearfix" name="food-list-item-16">
                        Patatas Bravas
                        <span class="pull-right">
                            <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                        </span>
                    </a>
                    <a href="#food-list-item-17" class="list-group-item clearfix" name="food-list-item-17">
                        Franse Kip
                        <span class="pull-right">
                            <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                        </span>
                    </a>
                    <a href="#food-list-item-18" class="list-group-item clearfix" name="food-list-item-18">
                        Truffelburger
                        <span class="pull-right">
                            <btn class="btn btn-danger fa fa-trash-alt remove" role="button"></btn>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>