
@{
    ViewData["Title"] = "Zoek Recepten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link rel="stylesheet" href="~/css/voedingssysteem.css" />
}

@section Scripts{
    <script src="~/js/voedingssysteem.js" asp-append-version="true"></script>
}

<div class="container-fluid jojo">
    <div class="row">
        <div class="challenge-wrapper navbar-food">
            <div class="container text-wrapper filterbox">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Recept Zoeken..." id="food-search-text" />
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-primary" id="food-search-filters-btn">
                            Filters <span class="caret"></span>
                        </button>
                    </div>
                    <!--
        <input type="text" class="form-control col-sm-4 searchrecept" placeholder="Recept naam" id="food-search-text" />
            <select class="form-control selectfilter" multiple id="food-search-allergies">
                <option value="" disabled selected>Allergieën</option>
                <option class="optionprivacy">Melk</option>
                <option class="optionprivacy">Ei</option>
                <option class="optionprivacy">Vis</option>
                <option class="optionprivacy">Pinda</option>
                <option class="optionprivacy">Noten</option>
            </select>
        </div>
        <div class="container-fluid allergies">

        </div> -->
                </div>
                <div class="container-fluid" id="food-search-filters-div" hidden>
                    I see fire.
                </div>
            </div>
        </div>

        <div class="challenge-wrapper move-below">
            <div class="container text-wrapper">
                <div class="list-group listfood" id="">

                    <a href="#" class="list-group-item clearfix">
                        Spaghetti Carbonara
                        <div class="image-container">
                            <div class="image-feed">
                                <img class="img-center" src="https://img.grouponcdn.com/deal/8DDtq5XRzVnLXEUnPHPd/p2-2048x1229/v1/c700x420.jpg" />
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item">Lamsbout</a>
                    <a href="#" class="list-group-item">Pizza</a>
                    <a href="#" class="list-group-item">Patatas bravas</a>
                    <a href="#" class="list-group-item">Franse kip</a>
                    <a href="#" class="list-group-item">Truffelburger</a>

                    <a href="#" class="list-group-item">Spaghetti Carbonara</a>
                    <a href="#" class="list-group-item">Lamsbout</a>
                    <a href="#" class="list-group-item">Pizza</a>
                    <a href="#" class="list-group-item">Patatas bravas</a>
                    <a href="#" class="list-group-item">Franse kip</a>
                    <a href="#" class="list-group-item">Truffelburger</a>

                    <a href="#" class="list-group-item">Spaghetti Carbonara</a>
                    <a href="#" class="list-group-item">Lamsbout</a>
                    <a href="#" class="list-group-item">Pizza</a>
                    <a href="#" class="list-group-item">Patatas bravas</a>
                    <a href="#" class="list-group-item">Franse kip</a>
                    <a href="#" class="list-group-item">Truffelburger</a>
                </div>
            </div>
        </div>
    </div>
</div>