@{
    ViewData["Title"] = "Zoek Recepten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
<link rel="stylesheet" href="~/css/voedingssysteem.css" />
}

@section Scripts{
<script src="~/js/voedingssysteem.js" asp-append-version="true"></script>
}



<div class="modal pop-up-modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
    </div>

</div>

<div class="container-fluid jojo">
    <div class="row">
        <div class="challenge-wrapper navbar-food">
            <div class="container text-wrapper filterbox">
                <h3>Zoek Nieuwe Recepten</h3>
                <hr />

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Recept Zoeken..." id="food-search-text" />
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-primary ignore-focus" id="food-search-filters-toggle">
                            Filters <span class="animated-transition" id="food-search-filters-caret"><span class="caret"></span></span>
                        </button>
                    </div>
                </div>
                <div class="container-fluid" id="food-search-filters-div" hidden>
                    <hr />
                    <h3>Filters</h3>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="food-search-filters-allergies">
                                <span class="fa fa-allergies"></span> &ensp;Allergieën <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-checkbox">
                                <li class="checkbox-menu"><a href="#" data-value="dairy" tabindex="-1"><span>Zuivel</span><input type="checkbox" /></a></li>
                                <li class="checkbox-menu"><a href="#" data-value="egg" tabindex="-1"><span>Ei</span><input type="checkbox" /></a></li>
                                <li class="checkbox-menu"><a href="#" data-value="nuts" tabindex="-1"><span>Noten</span><input type="checkbox" /></a></li>
                            </ul>
                        </div>
                    </div>
                    <hr />
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-info" type="button" id="food-search-filters-apply">
                                Filters Toepassen
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-wrapper list-wrapper-big">
            <ul class="list-group" id="challenge-listing">

                <!-- Item Pizza Hawaii -->
                <li class="list-group-item feedyo clearfix">

                    <!-- Link covering the entire list-group-item -->
                    <a class="list-item-link" href="~/Food/ViewRecept"></a>

                    <!-- fav -->
                    <div class="star">
                        <div class="favourite-btn visible feed-option">
                            <span class="far fa-star feed-icon"></span>
                        </div>
                        <div class="favourite-btn hidden feed-option">
                            <span class="fa fa-star feed-icon"></span>
                        </div>

                        <b class="favourites-text-small">25</b>
                    </div>

                    <p1>Pizza Hawaii</p1>

                    <!-- Container containing the recipe data icons -->
                    <div class="feed-info-container">
                        <div class="calories-feed feed-info">
                            <span class="fa fa-fire feed-icon"></span>
                            <p>450 Kcal</p>
                        </div>
                        <div class="preptime-feed feed-info">
                            <span class="fa fa-clock feed-icon"></span>
                            <p>60 min</p>
                        </div>
                        <div class="calories-per-user-feed feed-info">
                            <span class="fab fa-gripfire feed-icon"></span>
                            <p>113 kcal (P.P.)</p>
                        </div>
                        <div class="user-feed feed-info">
                            <span class="fa fa-user feed-icon"></span>
                            <p>4</p>
                        </div>
                    </div>

                    <!-- Container containing the image -->
                    <div class="image-container">
                        <div class="image-feed">
                            <img class="img-center" src="https://img.grouponcdn.com/deal/8DDtq5XRzVnLXEUnPHPd/p2-2048x1229/v1/c700x420.jpg" />
                        </div>
                    </div>
                </li>

                <!-- Item Pasta -->
                <li class="list-group-item feedyo clearfix">

                    <!-- Link covering the entire list-group-item -->
                    <a class="list-item-link" href="~/Food/ViewRecept"></a>

                    <!-- fav -->
                    <div class="star">
                        <div class="favourite-btn visible feed-option">
                            <span class="far fa-star feed-icon"></span>
                        </div>
                        <div class="favourite-btn hidden feed-option">
                            <span class="fa fa-star feed-icon"></span>
                        </div>

                        <b class="favourites-text-small">5</b>
                    </div>

                    <p1>Pasta</p1>

                    <!-- Container containing the recipe data icons -->
                    <div class="feed-info-container">
                        <div class="calories-feed feed-info">
                            <span class="fa fa-fire feed-icon"></span>
                            <p>100 Kcal</p>
                        </div>
                        <div class="preptime-feed feed-info">
                            <span class="fa fa-clock feed-icon"></span>
                            <p>15 min</p>
                        </div>
                        <div class="calories-per-user-feed feed-info">
                            <span class="fab fa-gripfire feed-icon"></span>
                            <p>50 kcal (P.P.)</p>
                        </div>
                        <div class="user-feed feed-info">
                            <span class="fa fa-user feed-icon"></span>
                            <p>2</p>
                        </div>
                    </div>

                    <!-- Container containing the image -->
                    <div class="image-container">
                        <div class="image-feed">
                            <img class="img-center" src="https://www.budgetbytes.com/wp-content/uploads/2016/07/Pasta-with-Butter-Tomato-Sauce-and-Toasted-Bread-Crumbs-utensils.jpg" />
                        </div>
                    </div>
                </li>

                <!-- Item Biefstuk -->
                <li class="list-group-item feedyo clearfix">

                    <!-- Link covering the entire list-group-item -->
                    <a class="list-item-link" href="~/Food/ViewRecept"></a>

                    <!-- fav -->
                    <div class="star">
                        <div class="favourite-btn visible feed-option">
                            <span class="far fa-star feed-icon"></span>
                        </div>
                        <div class="favourite-btn hidden feed-option">
                            <span class="fa fa-star feed-icon"></span>
                        </div>

                        <b class="favourites-text-small">150</b>
                    </div>

                    <p1>Biefstuk</p1>

                    <!-- Container containing the recipe data icons -->
                    <div class="feed-info-container">
                        <div class="calories-feed feed-info">
                            <span class="fa fa-fire feed-icon"></span>
                            <p>500 Kcal</p>
                        </div>
                        <div class="preptime-feed feed-info">
                            <span class="fa fa-clock feed-icon"></span>
                            <p>90 min</p>
                        </div>
                        <div class="calories-per-user-feed feed-info">
                            <span class="fab fa-gripfire feed-icon"></span>
                            <p>500 kcal (P.P.)</p>
                        </div>
                        <div class="user-feed feed-info">
                            <span class="fa fa-user feed-icon"></span>
                            <p>1</p>
                        </div>
                    </div>

                    <!-- Container containing the image -->
                    <div class="image-container">
                        <div class="image-feed">
                            <img class="img-center" src="https://eenvandaag.avrotros.nl/fileadmin/_processed_/5/a/csm_Biefstuk_23dfa76775.jpg" />
                        </div>
                    </div>
                </li>

                <!-- Item Ovenschotel -->
                <li class="list-group-item feedyo clearfix">

                    <!-- Link covering the entire list-group-item -->
                    <a class="list-item-link" href="~/Food/ViewRecept"></a>

                    <!-- fav -->
                    <div class="star">
                        <div class="favourite-btn visible feed-option">
                            <span class="far fa-star feed-icon"></span>
                        </div>
                        <div class="favourite-btn hidden feed-option">
                            <span class="fa fa-star feed-icon"></span>
                        </div>

                        <b class="favourites-text-small">3500</b>
                    </div>

                    <p1>Ovenschotel</p1>

                    <!-- Container containing the recipe data icons -->
                    <div class="feed-info-container">
                        <div class="calories-feed feed-info">
                            <span class="fa fa-fire feed-icon"></span>
                            <p>1250 Kcal</p>
                        </div>
                        <div class="preptime-feed feed-info">
                            <span class="fa fa-clock feed-icon"></span>
                            <p>45 min</p>
                        </div>
                        <div class="calories-per-user-feed feed-info">
                            <span class="fab fa-gripfire feed-icon"></span>
                            <p>250 kcal (P.P.)</p>
                        </div>
                        <div class="user-feed feed-info">
                            <span class="fa fa-user feed-icon"></span>
                            <p>5</p>
                        </div>
                    </div>

                    <!-- Container containing the image -->
                    <div class="image-container">
                        <div class="image-feed">
                            <img class="img-center" src="https://www.keukenliefde.nl/wp-content/uploads/2017/10/Ovenschotel-met-sperziebonen-en-gehakt-3934.jpg" />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>