/* Goals */
.challenge-goal-group-item {
    padding: 2px;
}

/* Listing */
#challenge-listing-icon {
    cursor: pointer;
}

#challenge-listing-input {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Tags */
#challenge-tag-list ul li {
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    padding: 2px 7px 2px 5px;
    text-decoration: none;
    font-size: 12px;
    color: black;
    display: inline-block;
    position: relative;
}

#challenge-tag-list ul li:hover {
    background-color: #eee;
}

#challenge-tag-list .challenge-tag-label {
    display: inline-block;
    vertical-align: middle;
    line-height:normal;
}

#challenge-tag-list .challenge-remove-tag {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 3.5px;
    padding: 1px 1px;
    transform: translate(0%, -50%);
}

#challenge-tag-list .challenge-remove-tag:hover {
    background: #bbb;
}

.backBtnGroup2 {
    color: #000000 !important;
    background-color: #fcfcfc !important;
    border-color: #fcfcfc !important;
    margin-left: -10%;
    margin-top: -10%;
}

#challenge-header{
    margin-top: -15%;
}

#challenge-submit-button {
    background-color: #ff6100;
    border-color: #ff6100;
    width: 100%;
}