body {
}

.btn-group-systems{
    width:100%;
}

    .btn-group-systems .btn {
        width: 100%;
        /*margin-top: 5%;*/
        margin-bottom: 5%;
        /*font-size: 500%;*/
        text-align: center;
        background-color: #00a1ff;
        border-radius:3px !important;
    }

    .btn-group-systems .icon-big {
        margin-bottom:2%;
        font-size:500%;
    }

    .btn-group-systems .icon-small {
        margin-bottom:1%;
        font-size:250%;
    }

    .btn-group-systems .icon-medium{
        font-size:175%;
    }

.list-group .list-group-item{
    margin-bottom:5%;
}

.btn-group-settings{
    width:100%;
}

    .btn-group-settings .btn {
        width: 100%;
    }

.form-control-settings{
    margin-bottom:5%;
}

.progress{
    margin-bottom:5%;
}

    .progress .progress-bar {
        background-color: #00a1ff;
    }

.fa-settings{
    float:right;
}

.settings-text{
    float:left;
}

.btn-visible{
    display:normal;
}

.btn-hidden{
    display:none;
}

.alert-movement-2{
    font-size:110%;
}

.alert-food-2, .alert-rest-2, .alert-mental-2{
    font-size:150%;
    margin-top:1%;
    text-align:center;
}

.alert-food-3, .alert-rest-3{
    font-size:130%;
    text-align:center;
}