body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f6f7f9; 
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.buttonchallenge {
    margin-top: 15px;
    width: 65%;
    background-color: #00a1ff;
    border: none; 
    float: left; 
}

.buttoninvite {
    margin-top: 15px;
    width: 34%;
    background-color: #00a1ff;
    border: none; 
    float: right; 
}

.challenge-wrapper {
    width: 100%; 
    height: auto;
    background-color: #fcfcfc;
    -webkit-box-shadow: 0px -1px 35px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 35px -11px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 35px -11px rgba(0,0,0,0.75);
    margin-top: 15px; 
    position: relative; 
}

.challenge-options {
    width: 100%;
    height: 40px;
    /*background-color: lightcoral;*/
    bottom: 2px;
    margin-bottom: 20px; 
}

.buttons-wrapper {
    width: 98%;
    height: 40px;
    /*background-color: lightgreen; */
    margin: 0 auto;
}

.block-wrapper {
    width: auto;
    height: auto;
    background-color: #fcfcfc;
    -webkit-box-shadow: 0px -1px 35px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 35px -11px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 35px -11px rgba(0,0,0,0.75);
    padding: 30px;
}

.section-wrapper {
    padding-bottom: 10px;
}

span.input-group-empty {
    width: 0;
}

li.list-group-item-lose {
    margin: -1px 0 0 0;
}

.horizontal-overflow {
    overflow-x: hidden;
}

.submit-section {
    margin-top: 15px;
}

.buttonyoleft{
    margin-top: 3px; 
    position: relative; 
    width: 32%; 
    margin-right: 1%; 
}

.buttonyoright {
    margin-top: 3px;
    position: relative;
    width: 32%;
    margin-left: 1%;
    float: right; 
}

.buttonyomiddle {
    margin-top: 3px;
    position: relative;
    width: 32%;
}

.selectprivacy{
    width: 48%; 
    float: left; 
}

.datefield{
    width: 48%; 
    float: right; 
    height: 34px; 
}

.listyo {
    float: left;
    width: 100%;
    margin-top: 20px; 
    overflow: scroll; 
    height: 124px; 
}

.listyo2 {
    float: left;
    width: 100%;
}

.optionprivacy{
    width: 20%; 
}

.challenge-wrapper2 {
    width: 100%;
    height: auto; 
    background-color: #fcfcfc;
    -webkit-box-shadow: 0px -1px 35px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 35px -11px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 35px -11px rgba(0,0,0,0.75);
    margin-top: 15px;
}


.container.text-wrapper{
    padding-top:20px;
}

.container .text-wrapper2{
    padding-top:5px;
}

h1 {
    margin-top: 0px; 
}

.btnspecial {
    display: flex; 
    margin-top: 5%;
    margin-bottom: 20px; 

}

    .btnspecial .btn {
        flex: 1;
        background-color: #ff6100;
        border-color: #ff6100;
    }

    .btnspecial .btn:active {
        flex: 1;
        background-color: #ff6100;
        border-color: #ff6100;
    }

.progressinput {
    margin-top: 3.5%;
    margin-bottom: 1.5%;
}

.btnDaagUit {
    display:flex;
    width: 100%;
    margin-bottom: 10px;
}

    .btnDaagUit .btn {
        flex:1;
        background-color: #ff6100;
        border-color: #ff6100;
    }

    .btnDaagUit .btn:active {
        flex:1;
        background-color: #ff6100;
        border-color: #ff6100;
    }

.backBtnGroup {
    color: #000000 !important;
    background-color: #fcfcfc !important;
    border-color: #fcfcfc !important;
    margin-left:5px;
    margin-top:5px;
}

.state-icon {
    left: -5px;
}

.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

.text-wrapper3{
}

.full-width {
    display: block;
    padding: 10px;
    font-size: 50%;
}

/* Switch button */
.btn-default.btn-on.active {
    background-color: #ff6100;
    color: white;
}

.switch-width {
    height: 40px;
    width: 50%;
}

.btn-default.btn-off.active {
    background-color: #ff6100;
    color: white;
}

.switch {
    padding-bottom: 20px;
    width: 100%;
}

.add-button {
    margin-top: 20px;
}

.overviewRest{
    display: inline-block;
    text-align: right;
    width: auto;
}

span.fa.fa-pause {
    vertical-align: middle;
    font-size:25px;
}

span.fa.fa-bed {
    font-size: 25px;
}

span.fa.fa-calendar{
font-size: 25px;
}

.thCenter{
    text-align: center;
}

.container.text-wrapper2{
    padding:0px;
}
