.remove {
    background-color: #d43f3a;
}

.edit, .remove {
    width: 50px !important;
    height: 30px !important;
}

#recept-submit-button {
    background-color: #ff6100;
    border-color: #ff6100;
    width: 100%;
}

.searchrecept {
    float: left;
    height: 34px;
}

.selectfilter {
    width: 48%;
    float: right;
}

.imagebox {
    height: 150px;
    width: 100%;
    background-color: red;
    margin-bottom: 10px;
}

p1 {
    font-weight: bold;
    margin-bottom: 10px;
}

.btnadd {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btnreactions {
    width: 70% !important;
    margin-bottom: 10px;
}

.btnwrapper {
    text-align: center;
}

.listfood {
    float: left;
    width: 100%;
    overflow: scroll;
    height: auto;
}

.filterbox {
    padding-bottom: 20px;
}

.navbar-food {
    z-index: 1000;
    position: fixed;
    text-align: center;
    top: 50px;
    width: 100%;
}

.move-below {
    margin-top: 90px;
}

.carousel {
    width: 100%;
    height: 240px;
    margin-bottom: 5px;
    position: relative;
}

.carousel-inner {
    height: 100%;
}

.item {
    width: 100%;
    height: 100%;
    -webkit-mask-size: 100% 240px;
    -webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1.0) 40%, rgba(255, 255, 255, 0.2) 100%);
}

.img-center {
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
}

.recept-header, .recept-user {
    position: absolute;
    z-index: 1000;
    color: white;
    padding-left: 5%;
}

.recept-header {
    margin-top: 10px;
}

.recept-user {
    margin-top: 50px;
    opacity: 0.75;
}

.icon-wrapper {
    margin-bottom: 10px;
}

    .icon-wrapper .calory-icon, .clock-icon, .favourite-btn {
        font-size: 160%;
    }

    .icon-wrapper .calory-icon {
        margin-left: 3%;
    }

    .icon-wrapper .clock-icon {
        margin-left: 5%;
    }

    .icon-wrapper .favourite-btn {
        margin-left: 22%;
    }

.visible {
    display: normal;
}

.hidden {
    display: none;
}

.calory-text, .clock-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.btn-browse {
    background-color: #00a1ff !important;
    border: none;
}

.btn-send {
    width: 90%;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ff6100 !important;
    border: none;
}

.btn-remove-recipe {
    margin-left: 33%;
    border: none;
}

.input-field {
    margin-bottom: 15px;
}

.image-container {
    height: 200px;
    width: 100%;
}

.image-feed {
    width: 100%;
    height: 100%;
    -webkit-mask-size: 100% 240px;
}

.back-icon-btn {
    font-size:20px;
    color:black !important;
    border:none !important;
}

.username-text {
    font-size:17px;
    font-weight:bold;
}

.food-dropdown {
    position: relative;
    right: 0;
}

.calories-feed {
    float: left; 
    margin-left: 0; 
    margin-right: 3%; 
}

.calories-feed {
    float: left; 
}

.feed-icon {
    float: left;
    margin-right: 7%;
}



.feed-info{
    width: 30%; 
    overflow: hidden; 
}

.feed-info-container {
    height: 20px; 
    margin-bottom: 10px; 
    margin-top: 5px; 
}

.feed-icon{
    margin-top: 3px; 
}

.preptime-feed {
    margin-right: 0; 
    float: left; 
}

.feed-info p {
    margin-bottom: 0; 
}

.feed-option {
    float: right; 
    font-size:20px; 
    padding: 0 !important; 
}

.star{
    float: right; 
    margin-top: 0px; 
}