.remove {
    background-color: #d43f3a;
}

.edit, .remove {
    width: 50px !important;
    height: 30px !important;
}

#recept-submit-button {
    background-color: #ff6100;
    border-color: #ff6100;
    width: 100%;
}

.searchrecept {
    float: left;
    height: 34px;
}

.selectfilter {
    width: 48%;
    float: right;
}

.imagebox {
    height: 150px;
    width: 100%;
    background-color: red;
    margin-bottom: 10px;
}

p1 {
    font-weight: bold;
    margin-bottom: 10px;
}

.btnadd {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btnreactions {
    width: 70% !important;
    margin-bottom: 10px;
}

.btnwrapper {
    text-align: center;
}

.listfood {
    float: left;
    width: 100%;
    overflow: scroll;
    height: auto;
}

.filterbox {
    padding-bottom: 20px;
}

.navbar-food {
    z-index: 1000;
    position: fixed;
    text-align: center;
    top: 50px;
    width: 100%;
}

.move-below {
    margin-top: 90px;
}

.carousel {
    width: 100%;
    height: 240px;
    margin-bottom: 5px;
    position: relative;
}

.carousel-inner {
    height: 100%;
}

.item {
    width: 100%;
    height: 100%;
    -webkit-mask-size: 100% 240px;
    -webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1.0) 40%, rgba(255, 255, 255, 0.2) 100%);
}

.img-center {
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
}

.recept-header, .recept-user {
    position: absolute;
    z-index: 1000;
    color: white;
    padding-left: 5%;
}

.recept-header {
    margin-top: 10px;
}

.recept-user {
    margin-top: 50px;
    opacity: 0.75;
}

.icon-wrapper {
    margin-bottom: 10px;
    margin-top: 5px;
    width:100%;
}

    .icon-wrapper .calory-icon, .clock-icon, .favourites-icon, .user-icon, .calories-per-user-icon, .favourite-btn {
        font-size: 160%;
    }

    .icon-wrapper .favourites-icon{
        color:white;
    }

    .icon-wrapper .clock-icon, .user-icon{
        margin-left: 18%;
    }

    .icon-wrapper .favourites-icon {
        float: right;
    }

.favourite-btn {
    margin-top: -5.5px;
    padding: 0;
    border: none;
    color: gold;
}

.visible {
    display: normal;
}

.hidden {
    display: none;
}

.calory-text, .clock-text, .favourites-text, .user-text, .calories-per-user-text, .favourites-text-small {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.favourites-text{
    color:white;
    margin-left:3%;
}

.favourites-text-small{
    margin-left:3%;
    position:relative;
}

.star .favourite-btn{
    height:5px;
}

.btn-browse {
    background-color: #00a1ff !important;
    border: none;
}

.btn-send {
    width: 90%;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ff6100 !important;
    border: none;
}

.btn-remove-recipe {
    margin-left: 33%;
    border: none;
}

.input-field {
    margin-bottom: 15px;
}

.image-container {
    height: 200px;
    width: 100%;
}

.image-feed {
    width: 100%;
    height: 100%;
    -webkit-mask-size: 100% 240px;
}

.back-icon-btn {
    font-size: 20px;
    color: black !important;
    border: none !important;
}

.username-text {
    font-size: 17px;
    font-weight: bold;
}

.food-dropdown {
    position: relative;
    right: 0;
}

.calories-feed, .preptime-feed, .user-feed, .calories-per-user-feed{
    float:left;
}

.calories-feed {
    margin-left: 0;
}

.user-feed{
    width:20%;
}

.feed-icon {
    float: left;
    margin-right: 7%;
}



.feed-info {
    width: 45%;
}

.feed-info-container {
    height: 40px;
    margin-top: 8px;
    margin-bottom: 10px;
    width:100%;
}

.feed-icon {
    margin-top: 3px;
}

.feed-info p {
    margin-bottom: 0;
}

.feed-option {
    font-size: 20px;
    padding: 0 !important;
}

#food-search-filters-div {
    text-align: left;
}

li.checkbox-menu {
    height: 30px;
}

    li.checkbox-menu:not(:first-child) {
        padding-top: 1px;
    }

    li.checkbox-menu:not(:last-child) {
        padding-bottom: 19px;
        border-bottom: 0.5px groove #FFFFFF;
    }

.checkbox-menu a:focus {
    outline: none;
}

.checkbox-menu a span {
    display: inline-block;
    float: left;
}

.checkbox-menu a input {
    display: inline-block;
    float: right;
}

.list-item-link {
    position: absolute;
    width: 90%;
    padding-left: 10%;
    height: 90%;
    padding-bottom: 10%;
    position: center;
}

.icon-group {
    width: 100%;
    margin-top: 10px;
}

.star {
    float: right;
    width:25%;
    margin-top: 0px;
    z-index: 2;
    position: relative;
}

.trash-icon {
    color: #d8411c;
    position: relative;
}

.mini-recept {
    margin-bottom: 5px !important;
}

.feedyo{
    margin-bottom:15px;
}

.list-wrapper-big{
    margin-top:90px;
}

.list-wrapper{
    margin-top:15px;
}

.filterbox-create{
    width:100%;
    padding-top:0 !important;
    margin-bottom:10px;
}

.filterbox-btn{
    width:100%;
}

.filterbox-checkbox{
    float:left;
    margin-right:10%;
    margin-top:10px;
}

.filterbox-input-group{
    width:100%;
}

.favourite-group{
    width:100%;
    margin-top:20px;
    margin-left:5%;
    position:absolute;
    z-index:1000;
}

.favourite-btn-group{
    width:25%;
}