.remove {
    background-color: #d43f3a; 
}

.edit, .remove {
    width: 50px !important;
    height: 30px !important;
}

#recept-submit-button {
    background-color: #ff6100;
    border-color: #ff6100;
    width: 100%;
}

.searchrecept {
    width: 48%;
    float: left;
    height: 34px;
}

.selectfilter {
    width: 48%;
    float: right;
}

.imagebox {
    height: 150px; 
    width: 100%; 
    background-color: red; 
    margin-bottom: 10px;  
}

p1 {
    font-weight: bold;
    margin-bottom: 10px; 
}

.btnadd {
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.btnreactions {
    width: 70% !important;
    margin-bottom: 10px; 
}

.btnwrapper {
    text-align: center; 
}

.listfood {
    float: left;
    width: 100%;
    margin-top: 20px;
    overflow: scroll; 
    height: auto;   
}

.filterbox{
    padding-bottom: 20px;
}

.navbar-food{
    z-index:1000;
    position:fixed;
    text-align:center;
    top:50px;
    width:100%;
}

.move-below{
    margin-top:90px;
}

.carousel {
    width: 100%;
    height: 240px;
    margin-bottom:20px;
    position:relative;
}

.carousel-inner{
    height:100%;
}

.item {
    width: 100%;
    height: 100%;

    -webkit-mask-size: 100% 240px;
    -webkit-mask-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.2) 100%);
}

.img-center{
    position:center !important;
    min-height:240px;
    min-width:100%;
}

.recept-header, .recept-user{
    position:absolute;
    z-index:1000;
    color:white;
    padding-left: 5%;
}

.recept-header{
    margin-top:10px;
}

.recept-user {
    margin-top:50px;
    opacity:0.75;
}

.calory-icon, .clock-icon, .favourite-btn{
    color:white;
    position:absolute;
    z-index:1000;
    font-size:160%;
    margin-top:200px;
}

.calory-icon {
    margin-left: 5%;
}

.clock-icon{
    margin-left:35%;
}

.favourite-btn{
    margin-top:190px;
    margin-left:80%;
}

.calory-text, .clock-text{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}