
@{
    ViewData["Title"] = "Rust Invoeren";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container row">
    <div class="form-group block-wrapper col-md-12 col-md-4" style="text-align: center;">
        <div class="container" style="padding-left: 0px; padding-right:0px;">
            <h2>Slaap Meter</h2>
            <br/>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button type="button" class="btn btn-default" id="eyes" onClick="switchEyes()" style="height: 100%; width: 100%">
                    <span class="fa fa-eye" style="font-size: 180px"></span>
                </button><br/><br/>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"><h4>Status: </h4></th>
                        <th scope="col"><h4 id="sleepStatus" style="color: green; text-align: right">Wakker</h4></th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="col-md-4"></div>      
        </div>
    </div>
</div>

<script>
    function switchEyes() {
        var d = new Date();
        var n = d.toLocaleTimeString();
        if ($("#eyes span").hasClass("fa-eye")) {
            $("#eyes span").removeClass("fa-eye")
            $('#eyes span').addClass('fa-eye-slash');
            var x = document.getElementById("sleepStatus");
            x.innerHTML = "Einde: "+n;
            x.style.color = "red";
        }
        else {
            $("#eyes span").removeClass("fa-eye-slash")
            $('#eyes span').addClass('fa-eye');
            var x = document.getElementById("sleepStatus");
            x.innerHTML = "Begin: "+n;
            x.style.color = "green";
        }
    }
</script>
