
@{
    ViewData["Title"] = "Overzicht";
}

@section Css{
    <link rel="stylesheet" type="text/css" href="~/css/clockpicker.css">
}

@section Scripts{
    <script src="~/lib/chart/Chart.bundle.js"></script>
    <script src="~/lib/chart/Chart.js"></script>
    <script src="~/js/ChartBuild.js"></script>
    <script src="~/js/PauseBuild.js"></script>
    <script src="~/js/rest-script.js"></script>
}

<div class="container row">
<div class="form-group block-wrapper col-md-12 col-md-4">  
<br />
        <div class="container row">
            <a class="btn btn-primary backBtnGroup2" role="button" href="~/Rest/Index">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="btn btn-primary backBtnGroup3" role="button" href="~/Rest/AddSleep">
                <span class="glyphicon glyphicon-bed"></span> Slaap Invoeren
            </a>
            <br />
            <br />
            
            <h2>Pauze Timer</h2>
            <p>Deze timer houd de tijd bij wanneer je pauze bent houden!</p>
            <table class="table">
                <thead>
                <tr>
                    <th class="timeCss">
                        <div id="chronoExample">
                            <label id="minutes">00</label>:<label id="seconds">00</label>
                            <br />
                            <button id="button-start" class="btn btn-success" onclick="startTime()">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </button>
                            <button id="button-start" class="btn btn-primary" onclick="pauseTime()">
                                <i class="fa fa-pause" aria-hidden="true"></i>
                            </button>
                            <button id="button-start" class="btn btn-danger" onclick="stopTime()">
                                <i class="fa fa-stop" aria-hidden="true"></i>
                            </button>
                        </div>
                        </div>
                    </th>
                </tr>
                </thead>
            </table>
        </div>            

            <h1>Overzicht</h1>
        <table class="table">
            <tbody>
            <tr>
                <td style="vertical-align:middle"><b/>29-11 t/m 05-12</td>
                <td>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sleepModal"  style="width: 100%">
                        <span class="glyphicon glyphicon-bed"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pauseModal"  style="width: 100%">
                        <span class="glyphicon glyphicon-time"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>   
        </div>       
            <div class="container" style="padding-left: 0px; padding-right:0px;">
                <div class="modal fade" id="sleepModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <canvas id="sleepChart" width="400" height="400"></canvas>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Datum</th>
                            <th scope="col">Uren Slaap</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="vertical-align: middle">29-11</td>
                            <td>
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="10">
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">30-11</td>
                            <td>
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="8">
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">01-12</td>
                            <td>
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="6">
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">02-12</td>
                            <td>
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="4">
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">03-12</td>
                            <td>
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="8">
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">04-12</td>
                            <td>
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="7">
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">05-12</td>
                            <td>
                                <input type="text" class="form-control" id="" aria-describedby="" placeholder="5">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-success opslaanFullWidth">Opslaan</button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="pauseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <canvas id="pauseChart" width="400" height="400"></canvas>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Datum</th>
                                <th scope="col">Uren Pauze</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="vertical-align: middle">29-11</td>
                                <td>
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="00:30">
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle">30-11</td>
                                <td>
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="00:15">
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle">01-12</td>
                                <td>
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="1">
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle">02-12</td>
                                <td>
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="01:15">
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle">03-12</td>
                                <td>
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="00:45">
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle">04-12</td>
                                <td>
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="01:45">
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle">05-12</td>
                                <td>
                                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="00:30">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-success opslaanFullWidth">Opslaan</button>
                </div>
            </div>
        </div>
    </div>
</div>