
@{
    ViewData["Title"] = "Overzicht";
}

@section Css{
    <link rel="stylesheet" type="text/css" href="~/css/clockpicker.css">
}

@section Scripts{
    <script src="~/js/jquery-clockpicker.js"></script>
    <script src="~/js/Filter.js"></script>
    <script type="text/javascript">
        $('.clockpicker').clockpicker();
    </script>
    <script src="~/js/easytimer.js"></script>
    <script src="~/js/easytimer-settings.js"></script>   
}

<div class="container row">
    <div class="form-group block-wrapper col-md-12 col-md-4">
        <a class="btn btn-primary btn-block" role="button" href="~/Rest/AddRest" data-toggle="modal" data-target="#myModal">
            <span class="fa fa-plus"></span>
        </a>


        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="container row">
                    <div class="form-group block-wrapper col-md-12 col-md-4">
                        <a class="btn btn-primary backBtnGroup2" role="button" href="~/Rest/Index">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <br />
                        <br />
                        
                        <div class="container" style="padding-left: 0px; padding-right:0px;">
                            <h2>Pauze Timer</h2>
                            <p>Deze timer houd de tijd bij wanneer je pauze bent houden!</p>            
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="timeCss">
                                        <div id="chronoExample">
                                            <div class="values">00:00:00</div>
                                            <div>
                                                <button class="startButton btn btn-success">
                                                    <i class="fa fa-play" aria-hidden="true"></i>
                                                </button>
                                                <button class="pauseButton btn btn-primary">
                                                    <i class="fa fa-pause" aria-hidden="true"></i>
                                                </button>
                                                <button class="stopButton btn btn-danger" onclick="test()">
                                                    <i class="fa fa-stop" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                </thead>                                
                            </table>
                        </div>

                        
                        <div class="container" style="padding-left: 0px; padding-right:0px;">
                            <h2>Slaap Invoeren</h2>
                            <p>Voer hier uw slaap tijden in!</p>
                            <div class="input-group clockpicker">
                                <input type="text" class="form-control" placeholder="Begintijd" readonly>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                            <br />
                            <div class="input-group clockpicker">
                                <input type="text" class="form-control" placeholder="Eindtijd" readonly>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                            <br />
                            <div class="input-group">
                                <input type="date" class="form-control" placeholder="Datum">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <br />
                            <div class="input-group repeat-checkbox">
                                <label>Herhalen?</label>

                                <div class="checkbox">
                                    <label style="padding-right: 20px;"><input type="checkbox" value="">Maandag</label><br />
                                    <label style="padding-right: 20px;"><input type="checkbox" value="">Dinsdag</label><br />
                                    <label style="padding-right: 20px;"><input type="checkbox" value="">Woensdag</label><br />
                                    <label style="padding-right: 20px;"><input type="checkbox" value="">Donderdag</label><br />
                                    <label style="padding-right: 20px;"><input type="checkbox" value="">Vrijdag</label><br />
                                    <label style="padding-right: 20px;"><input type="checkbox" value="">Zaterdag</label><br />
                                    <label style="padding-right: 20px;"><input type="checkbox" value="">Zondag</label><br />
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary btn-block add-button"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <br />

        <div class="container text-wrapper2">
            <input id="myInput" type="text" placeholder="Search.." class="form-control">
            <br/>
            <ul class="list-group checked-list-box">
                <li class="list-group-item">
                    <label>Rust Momenten</label>
                    <table>
                        <tbody id="myTable">
                        <tr>
                            <td>
                                <div class="col-md-2 custom-md">
                                    <span class="fa fa-bed bedpad"></span>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-2 custom-md">
                                    22:00 - 07:00
                                </div>
                            </td>
                            <td>
                                <div class="col-md-1 custom-md">
                                    <span class="fa fa-calendar-alt"></span>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-2 custom-md">
                                    08-11
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-md-2 custom-md">
                                    <span class="fa fa-pause bedpad"></span>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-2 custom-md">
                                    12:30 - 13:00
                                </div>
                            </td>
                            <td>
                                <div class="col-md-1 custom-md">
                                    <span class="fa fa-calendar-alt"></span>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-2 custom-md">
                                    08-12
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    function test() {
        document.getElementsByClassName("values").innerHTML = "00:00:00";
    }
</script>