
@{
    ViewData["Title"] = "Overzicht";
}



<div class="container row">
    <div class="form-group block-wrapper col-md-12 col-md-4">
        <a class="btn btn-primary backBtnGroup2" role="button" href="~/Movement/Index">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <br />
        <br />
        <div class="container text-wrapper2">
            <ul class="list-group checked-list-box">
                <li class="list-group-item">
                    <span class="fa fa-bed"></span>
                </li>
                <li class="list-group-item"><span class="fa fa-pause"></span> @DateTime.Now.ToShortDateString()</li>
            </ul>
        </div>
    </div>
</div>