@{
    ViewData["Title"] = "DaagUit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/DaagUit.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="challenge-wrapper">
            <a class="btn btn-info backBtnGroup" role="button" href="~/Movement/Index">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>

            <div class="container text-wrapper2">
                <ul class="list-group checked-list-box">
                    <li class="list-group-item">Hans</li>
                    <li class="list-group-item">Peter</li>
                    <li class="list-group-item">Harry</li>
                    <li class="list-group-item">Kees</li>
                    <li class="list-group-item">Rik</li>
                    <li class="list-group-item">Richard</li>
                    <li class="list-group-item">Mart</li>
                    <li class="list-group-item">Tom</li>
                    <li class="list-group-item">Bryan</li>
                </ul>

                <div class="btn-group btnDaagUit">
                    <a class="btn btn-info" role="button" href="~/Movement/Index">Daag Uit</a>
                </div>
            </div>
        </div>
    </div>
</div>