@{
    ViewData["Title"] = "DaagUit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="challenge-wrapper">
            <form action="~/Movement/Index">
                <button class="btn btn-group backBtnGroup">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
            </form>

            <div class="container text-wrapper2">
                <div class="list-group listyo2" id="challenge-listing">
                    <a href="#" class="list-group-item">Hans</a>
                    <a href="#" class="list-group-item">Peter</a>
                    <a href="#" class="list-group-item">Harry</a>
                    <a href="#" class="list-group-item">Kees</a>
                    <a href="#" class="list-group-item">Frank</a>
                    <a href="#" class="list-group-item">Peer</a>
                    <a href="#" class="list-group-item">Peer2</a>
                    <a href="#" class="list-group-item">Peer3</a>
                    <a href="#" class="list-group-item">Peer4</a>
                    <a href="#" class="list-group-item">Peer5</a>
                    <a href="#" class="list-group-item">Peer6</a>
                    <a href="#" class="list-group-item">Peer7</a>
                </div>

                <div class="btn-group btnDaagUit">
                    <button type="button" class="btn btn-info">Daag Uit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script src="~/js/DaagUit.js"></script>