
@{
    ViewData["Title"] = "Bewegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css
{
    <link href="~/css/movement-system-layout.css" type="text/css" />
}

@section Scripts
{
    <script src="~/js/movement-system-script.js"></script>
}

<div class="container-fluid">
    <!-- Navigation Buttons -->
    <div class="row">
        <a class="btn btn-primary buttonchallenge" role="button" asp-controller="movement" asp-action="createchallenge" asp-area="">Challenge Aanmaken</a>
        <a class="btn btn-primary buttoninvite" role="button" href="#">7 Invites</a>
    </div>

    <!-- Challenge Item Details -->
    <div class="row">
        
    </div>

    <!-- Challenge Agenda -->
    <div class="row">
        <div class="challenge-wrapper2">
            <div class="container text-wrapper">
                <div class="form-group">
                    <select class="form-control selectprivacy" id="challenge-agenda-privacy-selector">
                        <option class="optionprivacy" value="personal">Persoonlijk</option>
                        <option class="optionprivacy" value="public">Publiek</option>
                    </select>
                    <input class="datefield form-control" type="date" id="challenge-agenda-listing-date" />
                </div>

                <div class="list-group listyo" id="challenge-listing">
                    
                </div>
            </div>
        </div>
    </div>
</div>


