
@{
    ViewData["Title"] = "Bewegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <a class="btn btn-default buttonchallenge" href="#" role="button">Maak een challenge</a>
    </div>

    <div class="row">
        <div class="challenge-wrapper">

            <div class="container text-wrapper">
                <h1>10 km hardlopen</h1>
                <p>
                    Donec tempus id leo et finibus. Sed sit amet commodo lorem. In rutrum euismod pretium.
                    Ut eros velit, sodales ac dolor non, maximus tus, iaculis quis arcu in, fermentum bibendum risus.
                    Duis ac cursus enim. Donec tempus id leo et finibus. Sed sit amet commodo lorem. In rutrum euismod pretium.
                </p>
            </div>

            <div class="challenge-options">
                <div class="buttons-wrapper">
                    <button type="button" class="btn btn-danger buttonyoleft">Daag uit</button>
                    <button type="button" class="btn btn-danger buttonyomiddle">Pas aan</button>
                    <button type="button" class="btn btn-danger buttonyoright">Verwijder</button>
                </div>
            </div>

        </div>
    </div>
</div>


