
@{
    ViewData["Title"] = "Bewegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="js/MovementPage.js"></script>
}

<div class="container-fluid">
    <div class="row">
        <a class="btn btn-primary buttonchallenge" role="button" asp-action="CreateChallenge" asp-controller="Movement">Challenge Aanmaken</a>
        <a class="btn btn-primary buttoninvite" role="button" href="#">7 Invites</a>
    </div>

    <div class="row">
        <div class="challenge-wrapper">
            <div class="container text-wrapper">
                <h1 id="Challenge-Title">Geen challenge geselecteerd</h1>
                <p id="Challenge-Description">
                   Geen beschrijving beschikbaar.
                </p>
            </div>

            <div class="container text-wrapper3">
                <h4><b>Locatie</b></h4>
                <p id="Challenge-Location">
                   
                </p>
            </div>

            <div class="container centerbutton">

                <div class="input-group progressinput">
                    <input class="form-control" type="text" placeholder="Geef aantal km" />
                    <span class="input-group-btn">
                        <button class="btn btn-group">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>

                <div class="progress" style="height: 30px;">
                    <div class="progress-bar" style="width: 40%; background-color: #3fc661; line-height: 240%;" aria-valuenow="4" aria-valuemin="0" aria-valuemax="10">4 km</div>
                    <div class="progress-bar" style="width: 60%; background-color: #e9ecef; line-height: 240%; color: black" aria-valuenow="6" aria-valuemin="0" aria-valuemax="10">6 km</div>
                </div>

                <div class="btn-group btnspecial">
                    <a class="btn btn-info" role="button">Pas Aan</a>
                    <a class="btn btn-info" role="button" href="~/DaagUit/Index">Daag Uit</a>
                    <a class="btn btn-info" role="button">Verwijder</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="challenge-wrapper2">
            <div class="container text-wrapper">
                <div class="form-group">
                    <select class="form-control selectprivacy">
                        <option class="optionprivacy">Prive</option>
                        <option class="optionprivacy">Publiek</option>
                    </select>

                    <input class="datefield form-control" data-val="true" data-val-required="Date is required"
                           id="ReleaseDate" name="ReleaseDate" type="date" value="1/11/1989" />
                </div>

                <div class="list-group listyo" id="challenge-listing">
                </div>
            </div>
        </div>
    </div>
</div>


