
@{
    ViewData["Title"] = "Achievements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link rel="stylesheet" href="~/css/head-page.css" />
}

@section Scripts{
    <script src="~/js/settings.js" asp-append-version="true"></script>
}

<div class="container-fluid">
    <div class="row">
        <!-- List of Achievements -->
        <div class="list-group">
            <!-- Hard Coded Achievemnt 1 -->
            <div class="list-group-item">
                <h6>Loop 3 kilometer.</h6>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">1.5 km</div>
                </div>
            </div>
            <!-- Hard Coded Achievemnt 2 -->
            <div class="list-group-item">
                <h6>Ontmoet Dr. Phill 4 keer.</h6>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">2 ontmoetingen</div>
                </div>
            </div>
            <!-- Hard Coded Achievemnt 3 -->
            <div class="list-group-item">
                <h6>Maak een totaal van 15 minuten gebruik van de applicatie.</h6>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">11.25 min</div>
                </div>
            </div>
            <!-- Hard Coded Achievemnt 4 -->
            <div class="list-group-item">
                <h6>Beeindig 300 challenges succesvol.</h6>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0 challenges</div>
                </div>
            </div>
            <!-- Hard Coded Achievemnt 5 -->
            <div class="list-group-item">
                <h6>Ga 20 keer zwemmen.</h6>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">5 keer</div>
                </div>
            </div>
            <!-- Hard Coded Achievemnt 6 -->
            <div class="list-group-item">
                <h6>Behaal een publiek event met 3 of meer mensen.</h6>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0 keer</div>
                </div>
            </div>
            <!-- Hard Coded Achievemnt 7 -->
            <div class="list-group-item">
                <h6>Vind een wilde Bryan.</h6>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">1x</div>
                </div>
            </div>
        </div>
    </div>
</div>